body {
    margin: 0;
    padding: 0;
}

#scene {
    width: 100vw;
    height: 56.25vw;
    position: relative;
    overflow: hidden;
}

#baggrund {
    width: 100vw;
    height: 56vw;
    background-image: url(baggrund.svg);
    background-size: 100%;
    position: absolute;
}

#forgrund {
    width: 100vw;
    height: 56vw;
    background-image: url(forgrund_v3.svg);
    background-size: 100%;
    position: absolute;
}

#midgrund {
    width: 100vw;
    height: 56vw;
    background-image: url(Midgrund_v2.svg);
    background-size: 100%;
    position: absolute;
}

/* ------------------ Jesus starter ---------------------*/

#jesus_container {
    position: absolute;
    bottom: 11vw;
    left: 43vw;
}

#jesus_sprite {
    width: 10vw;
    height: 14vw;
    background-image: url(jesustest2-02.svg);
    background-size: 800%;

}

.jesus_jump {
    animation-name: move_jesus_kf;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes move_jesus_kf {
    10% {
        transform: rotate(10deg);
        bottom: 5vw;
    }
    20% {
        transform: rotate(20deg);
        bottom: 5.5vw;
    }
    30% {
        transform: rotate(25deg);
        bottom: 6vw;
    }
    40% {
        transform: rotate(30deg);
        bottom: 5.5vw;
    }

    50% {
        transform: rotate(30deg);
        bottom: 5vw;
    }

    60% {
        transform: rotate(-10deg);
        bottom: 5vw;
    }
    70% {
        transform: rotate(-20deg);
        bottom: 5.5vw;
    }
    80% {
        transform: rotate(-25deg);
        bottom: 6vw;
    }
    90% {
        transform: rotate(-30deg);
        bottom: 5.5vw;
    }
    100% {
        bottom: 5vw;
    }
}

.jesus_taler {
    animation-name: jesus_taler_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes jesus_taler_kf {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -200% 0;
    }
}

/* ------------------ Jesus slutter --------------- */
#ståting {
    width: 100vw;
    height: 56vw;
    background-image: url(bod.svg);
    background-size: 100%;
    position: absolute;
    bottom: 0vw;
    left: -1vw;
}

#storsky {
    width: 100vw;
    height: 56vw;
    background-image: url(Storsky.svg);
    background-size: 100%;
    position: absolute;
    bottom: 17vw;
    right: -70vw;
    animation-name: movestorsky;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}


#lillesky {
    width: 50vw;
    height: 28.125vw;
    background-image: url(lillesky.svg);
    background-size: 100%;
    position: absolute;
    right: -30vw;
    bottom: 37vw;
    animation-name: movelillesky;
    animation-timing-function: linear;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

/* ----------------- Brian Starter ---------------------- */

#brian_sprite {
    width: 12vw;
    height: 17.14vw;
    background-image: url(Spritesheet_v3.svg);
    background-size: 800% 200%;
}

.brian_walkcycle {
    animation-name: move_brian_kf;
    animation-timing-function: steps(8);
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes move_brian_kf {
    0% {
        background-position: 0 0 ;
    }
    100% {
        background-position: -800% 0;

    }
}

#brian_container {
    position: absolute;
}


.move_brian_right {
    animation-name: move_brian_right_kf;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

@keyframes move_brian_right_kf {
    0% {
        left: -10vw;
        bottom: -10vw;
    }
    100% {
        left: 30vw;
        bottom: 5vw;
    }
}

.brian_gaar_ud {
    animation-name: move_brian_left_kf;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform: rotateY(180deg);
}

@keyframes move_brian_left_kf {
    0% {
        left: 30vw;
        bottom: 5vw;
    }
    100% {
        left: -15vw;
        bottom: -15vw;
    }
}

.brian_taler {
    animation-name: brian_taler_kf;
    animation-duration: 1s;
    animation-timing-function: steps(2);
    animation-iteration-count: infinite;
}

@keyframes brian_taler_kf {
    from {
        background-position: 0 -100%;
    }
    to {
        background-position: -200% -100%;
    }
}

/* ------------------- Brian Slutter --------------------*/

@keyframes movestorsky {
    100% {
        right: 70vw;
    }
}

@keyframes movelillesky {
    100% {
        right: 80vw;
    }
}
